

<h1>CSVインポート</h1>

<table>
  <thead>
    <tr>
      <th>年齢</th>
      <th>西暦</th>
      <th>人口</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.Age %></td>
        <td><%= user.Year %></td>
        <td><%= user.Human %></td>
      </tr>
    <% end %>
  </tbody>
</table>

